interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.geo.admin.ch/api/stac/v1/collections/ch.meteoschweiz.ogd-smn
  response:
    body:
      string: "{\"stac_version\":\"1.0.0\",\"id\":\"ch.meteoschweiz.ogd-smn\",\"title\":\"Automatic
        weather stations \u2013 Measured values\",\"description\":\"Temperature, precipitation,
        wind, sunshine, humidity, radiation and pressure \u2013 per station \u2013
        every 10 minutes ('t'), hourly ('h'), daily ('d'), monthly ('m') and yearly
        ('y') \u2013 since midnight ('now'), from the current year up to yesterday
        ('recent'), since the beginning of the measurement in ten-year increments
        ('historical'). If you require hourly, daily, monthly or yearly values, we
        strongly recommend that you download the corresponding resolution.\",\"summaries\":{},\"extent\":{\"spatial\":{\"bbox\":[[6.099453,45.843444,10.426314,47.697278]]},\"temporal\":{\"interval\":[[\"2025-11-16T04:00:25.055277Z\",\"2025-11-16T04:00:25.263278Z\"]]}},\"providers\":[{\"name\":\"Federal
        Office of Meteorology and Climatology MeteoSwiss\",\"roles\":[\"producer\",\"licensor\"],\"url\":\"https://www.meteoswiss.admin.ch/\"}],\"license\":\"CC-BY\",\"created\":\"2025-03-10T06:16:52.545881Z\",\"updated\":\"2025-11-16T15:13:35.114011Z\",\"links\":[{\"rel\":\"self\",\"href\":\"https://data.geo.admin.ch/api/stac/v1/collections/ch.meteoschweiz.ogd-smn\"},{\"rel\":\"root\",\"href\":\"https://data.geo.admin.ch/api/stac/v1/\"},{\"rel\":\"parent\",\"href\":\"https://data.geo.admin.ch/api/stac/v1/\"},{\"rel\":\"items\",\"href\":\"https://data.geo.admin.ch/api/stac/v1/collections/ch.meteoschweiz.ogd-smn/items\"},{\"rel\":\"assets\",\"href\":\"https://data.geo.admin.ch/api/stac/v1/collections/ch.meteoschweiz.ogd-smn/assets\"},{\"rel\":\"alternate\",\"title\":\"STAC
        Browser\",\"type\":\"text/html\",\"href\":\"https://data.geo.admin.ch/browser/index.html#/collections/ch.meteoschweiz.ogd-smn\"},{\"href\":\"https://www.geocat.ch/geonetwork/srv/eng/catalog.search#/metadata/35323752-ed32-4cc1-8a75-898c749b777b\",\"rel\":\"describedby\",\"title\":\"Metadata\"},{\"href\":\"https://opendatadocs.meteoswiss.ch/a-data-groundbased/a1-automatic-weather-stations\",\"rel\":\"about\",\"title\":\"Further
        information\"}],\"crs\":[\"http://www.opengis.net/def/crs/OGC/1.3/CRS84\"],\"itemType\":\"Feature\",\"assets\":{\"ogd-smn_meta_datainventory.csv\":{\"type\":\"text/csv\",\"href\":\"https://data.geo.admin.ch/ch.meteoschweiz.ogd-smn/ogd-smn_meta_datainventory.csv\",\"description\":\"This
        a collection asset for ogd-smn_meta_datainventory.csv\",\"created\":\"2025-03-28T12:15:09.782185Z\",\"updated\":\"2025-11-15T04:11:49.002371Z\",\"file:checksum\":\"122090097fa35800ebba363513aa609d51a116974c33193e75004e200ca6343b253d\"},\"ogd-smn_meta_parameters.csv\":{\"type\":\"text/csv\",\"href\":\"https://data.geo.admin.ch/ch.meteoschweiz.ogd-smn/ogd-smn_meta_parameters.csv\",\"description\":\"This
        a collection asset for ogd-smn_meta_parameters.csv\",\"created\":\"2025-03-28T12:15:13.084546Z\",\"updated\":\"2025-11-14T04:10:43.782534Z\",\"file:checksum\":\"12201ae5980dfbb74123b1540ec72a37c72bc1c08d288a914bc72cdde946b3fa7fbf\"},\"ogd-smn_meta_stations.csv\":{\"type\":\"text/csv\",\"href\":\"https://data.geo.admin.ch/ch.meteoschweiz.ogd-smn/ogd-smn_meta_stations.csv\",\"description\":\"This
        a collection asset for ogd-smn_meta_stations.csv\",\"created\":\"2025-03-28T12:15:14.379251Z\",\"updated\":\"2025-11-11T04:11:06.006853Z\",\"file:checksum\":\"1220e023b2aca0680d2f7a643bba2620c7dba577b8225b0f1e03ddc95ed58740d24b\"}},\"type\":\"Collection\"}"
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      ETag:
      - '"8e800b82-362e-4708-a952-c4c21bead572"'
      apigw-requestid:
      - UJGRYjCEFiAEMng=
    status:
      code: 200
      message: OK
version: 1
